.post {
    max-width: 500px;
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    margin-bottom: 45px;
}

.post__image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid #d3d3d3;
}

.post__text {
    font-weight: normal;
    padding: 15px 10px;
}

.post__header {
    display: flex;
    align-items: center;
    padding: 15px 10px;
}

.post__avatar {
    margin-right: 10px;
}